<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.example.CityHotelMapper"> 
    <select id="findHotelsByCityId" resultMap="cityHotelsResultMap">
        SELECT 
        	city.id, 
        	city.name, 
        	hotel.name AS h_name, 
        	hotel.address as h_address
        FROM city LEFT JOIN hotel ON city.id = hotel.city
        WHERE city.id = #{cityId}
    </select>

    <resultMap id="cityHotelsResultMap" type="CityHotel">
    	<result property="id" column="id" />
    	<result property="cityName" column="name" />
    	<result property="hotelName" column="h_name" />
    	<result property="hotelAddress" column="h_address" />
    </resultMap>

</mapper>